.custom-btn {
  width: 100%;
  background-color: $light-blue;
  color: $black;
  padding: 13px 0;
  border-radius: 10px;
  border: none;
  margin-top: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }

  @media (min-width: $screen-xl-max) {
    margin-top: 28px;
    max-width: 328px;
  }

  &:disabled {
    background-color: $medium-opacity-grey;
  }
}