// colors
$background: #1E1E1E;
$black: #101313;
$white: #FFFFFF;
$light-blue: #2B8CE5;
$light-grey: #FAFAFA;

$default-opacity: 10;

$light-opacity-grey: rgba(250, 250, 250, 0.1);
$light-opacity-black: rgba(255, 255, 255, 0.1);
$medium-opacity-grey: rgba(255, 255, 255, 0.3);
$light-opacity-blue: rgba(33, 122, 255, 0.1);

// fonts
$montserrat: 'Montserrat';

// screens
$screen-xl-max: 1439px;
